h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  text-shadow: 4px 4px 2px rgb(12, 26, 87);
}

@keyframes nav_li3 {
  100% {
    background: linear-gradient(
      49deg,
      hsl(202, 100%, 50%) 0%,
      hsl(234, 38%, 36%) 50%,
      hsl(198, 85%, 8%) 100%
    );
    box-shadow: 500px 0px 100px -100px #581bba inset;
  }
}
body {
  background: rgb(15, 15, 15);
  width: 640px;
  margin: 0 auto;
  color: #999;
}

.full-img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}
.select {
  border: 1px solid rgb(25, 201, 224);
}
.thumb-bar {
  position: relative;
  display: flex;
  background: rgb(55, 4, 240);
}

.thumb-bar img {
  display: block;
  background-color: black;
  width: 20%;
  float: left;
  cursor: pointer;
  transition: opacity 0.6s;
}
img:hover {
  opacity: 0.7;
}
p {
  display: block;
  width: 100px;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.3s;
  top: 0;
  left: 0;
  color: rgb(18, 218, 168);
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: 'Varela Round', sans-serif;
  background-color: rgba(36, 129, 125, 0.3);
  text-shadow: 0px 0px 15px rgb(16, 42, 190);
}
p:hover {
  opacity: 0.5;
}
